{% extends 'layouts/front-layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1>{{ article.title }}</h1>
        <div class="col-md-3">
            par {{ article.author.fullName }}
            le&nbsp;{{ article.createdAt | date('d/m/Y')}}
        </div>
        <div class="col-md-9">tags</div>
    </div>

    <div class="col-md-4">
        <img class="img-responsive" src="/img/photos/{{ article.image.fileName }}">
    </div>

    <div class="col-md-8">
        <p class="lead">{{ article.lead }}</p>
    </div>

    <h2>5 commentaires</h2>

    <div class="col-md-4">
        Formulaire ajout de commentaire
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                le 30/09/2016 par moi@moi.com
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                le 30/09/2016 par moi@moi.com
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            </div>
        </div>
    </div>



{% endblock %}